@media(min-width: 1200px) {
    .Contact-Form{
        width:100%;
        height: 100vh;    
        background-color: black;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        // margin: 50% 0%;

        .Contact-Form-Window{
            width: 50%;
            height: 80%;
            background-color: black;
            // top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            color: white;

            h1{
                display: flex;
                justify-content: center;
            }

            .Contact-Form-Info{
                width: 80%;
                height: 100%;
                display: flex;
                flex-direction: column;
                // align-items: center;
                justify-content: flex-start;
                position: relative;

                .close-button{
                    position: absolute;
                    right: 30px;
                    font-size: 50px;
                    transform: rotate(45deg);
                    cursor: pointer;
                    }

                .personal-info{
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                .input-name{
                    margin: 4% 0%;
                    margin: 4% 0% 4% 0%;
                    width: 48%;
                }

                .input-email{
                    margin: 4% 0% 4% 0%;
                    padding: 2% 0%;             
                    width: 48%;
                }
            }

            .input-subject{
                margin: 4% 0%;
                padding: 2% 0%;
            }

            .input-body{
                margin: 5% 0%;
                padding: 3% 0%;
                
            }

            .paragraph{
                display: flex;
                justify-content: center;                
            }

            .button{
                display: flex;
                justify-content: center;
                button{
                    width: 50%;
                    padding: 2% 6%;
                    font-size: 80%;
                    background-color: black;
                    color: white;
                    border: solid white;
                    cursor: pointer;
                }
            }
            
        }
    }
}

@media(max-width: 1200px) {
    .Contact-Form{
        width:100%;
        height: 100vh;    
        background-color: black;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50% 0%;


        .Contact-Form-Window{
            width: 85%;
            height: 80%;
            background-color: black;
            // top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            color: white;

            h1{
                display: flex;
                justify-content: center;
            }

            .Contact-Form-Info{
                width: 80%;
                height: 100%;
                display: flex;
                flex-direction: column;
                // align-items: center;
                justify-content: flex-start;
                position: relative;

                .close-button{
                    position: absolute;
                    right: 1px;
                    font-size: 50px;
                    transform: rotate(45deg);
                    cursor: pointer;
                    }

                .personal-info{
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                .input-name{
                    margin: 4% 0%;
                    margin: 4% 0% 4% 0%;
                    width: 48%;
                }

                .input-email{
                    margin: 4% 0% 4% 0%;
                    padding: 2% 0%;             
                    width: 48%;
                }
            }

            .input-subject{
                margin: 4% 0%;
                padding: 2% 0%;
            }

            .input-body{
                margin: 5% 0%;
                padding: 3% 0%;
                
            }

            .button{
                display: flex;
                justify-content: center;
                button{
                    width: 50%;
                    padding: 2% 6%;
                    font-size: 80%;
                    background-color: black;
                    color: white;
                    border: solid white;
                    cursor: pointer;
                }
            }
            
        }
    }
}