.custom-button {
    color: white;
    background-color: black;
    width: auto;
    top: 50%;
    right: 67%;
    border: none;
    
    padding: 10px 30px;
    cursor: pointer;
    font-family: "Arial";
    font-size: 120%;
    text-decoration: none;
    
}