@media only screen and (min-width: 1200px) {
    .about-info{
        display: flex;
        justify-content: start;
        overflow: hidden;

        
        img{
            display: flex;
            justify-content: flex-start;
            margin: 8% 10%;
            max-width: 400px;
        }

        .text {
            margin-top: 7%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            
            h1{
                font-family: "Lato";
                font-size: 350%;
            }

            p{
                width: 80%;
                word-spacing: 2px;
                text-align: justify;
                line-height: 2;
                font-size: 120%;
            }

            button:hover{
                // display: flex;
                // justify-content: center;
                align-items: center;
                padding: 2% 9%;
                background-color: white;
                color: black;
                border: solid black;
                cursor: pointer;
                font-size: 120%;
                text-align: center;
            }            


            button{
                // display: flex;
                // justify-content: center;
                align-items: center;
                padding: 2% 9%;
                background-color: black;
                color: white;
                border: none;
                cursor: pointer;
                font-size: 120%;
                text-align: center;
            }            
            
        }
    }
}

@media only screen and (max-width: 1200px) {
    .about-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin: 9% 0%;

        
        img{
            // margin: 8% 10%;
            max-width: 250px;
        }

        .text {
            margin-top: 7%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            h1{
                font-family: "Lato";
                font-size: 200%;
            }

            p{
                width: 90%;
                word-spacing: 2px;
                text-align: justify;
                line-height: 2;
                font-size: 80%;
            }

            button{
                margin: 0 auto;
                padding: 3% 18%;
                background-color: black;
                color: white;
                border: none;
                cursor: pointer;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
        }

    }
}