@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
@media(min-width: 1200px) {
    .header {
        
        margin:0%;
        padding: 0.7% 3% ;
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: black;
    
        .header-elements{
            display: flex;

            .icon {
                width: 50%;
                height: 50%;
                display: flex;
                justify-content: flex-start;
                padding:0%;
                cursor: pointer;
                text-decoration: none;
                color: #fff;   
                margin-left: 3%;
                // font-size: 140%;             
                .logo{
                    width: 7%;
                    height: 7%;
                }   
            }     

            .options {
                width: 100vh;
                height: 0%;
                display: flex;
                justify-content: flex-end;
                margin-right: 2%;  
        
        
                .option {
                    padding: 2px 15px 3px 3px;
                    cursor: pointer;
                    text-decoration: none;
                    font-size: 120%;
                    color: white;
                }
            }
        }
    }
}

@media(max-width: 1200px) {
    .header {
        
        margin:0%;
        padding: 0.7% 3% ;
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: black;
    
        .header-elements{
            display: flex;

            .icon {
                width: 50%;
                height: 50%;
                display: flex;
                justify-content: flex-start;
                padding:0%;
                cursor: pointer;
                text-decoration: none;
                color: #fff;   
                margin-left: 3%;
                // font-size: 140%;             
                .logo{
                    width: 45px;
                    height: 40px;
                }   
            }        

            .options {
                width: 100vh;
                height: 0%;
                display: flex;
                justify-content: flex-end;
                // margin-right: 2%;  
        
        
                .option {
                    padding: 5px 9px;
                    cursor: pointer;
                    text-decoration: none;
                    font-size: 115%;
                    color: white;
                }
            }
        }
    }
}