.buy-button-group{
    margin-top: 30px;
    .buy-button{
        color: white;
        background-color: black;
        padding: 2% 25%;
        text-decoration: none;
        border: none;
        font-size: 120%;
        margin-right: 120px;
        cursor: pointer;
    }
}