.gallery-section-imageArea img{
    width:60%;
    margin: 20% 0%;
}

.gallery-section-title{
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-left: 8%;
    margin-top: 9%;
}

.titleName-gallery{
    font-family: "Lato";
    font-size: 390%;
    word-spacing: 3px;
    letter-spacing: 3px;
}

.gallery-section-imageArea{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 5px;
}

li:nth-child(1){
    grid-column: 3/span 2;
    grid-row: 1/span 2;
    transition: grid-column 0.5s, grid-row 0.5s;
    height:70%;
}
li:nth-child(2){
    grid-column: 5/span 2;
    grid-row: 1/span 2;
    transition: grid-column 0.5s, grid-row 0.5s;
}
li:nth-child(3){
    grid-column: 4/span 2;
    grid-row: 1/span 2;
    transition: padding-left 3s, padding-top 3s;
}     

li:nth-child(1):hover{
    grid-column: 3/span 2;
    grid-row: 1/span 2;
}
li:nth-child(2):hover{
    grid-column: 5/span 2;
    grid-row: 1/span 2;
}
li:nth-child(3):hover{
    padding-top:35%;
    padding-left: 35%;
}               
