.galleryItem-group{
    width: 100%;
    height: 380px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // position: relative;
    
    margin-bottom: 80px;
    // margin-left: 6%;
    margin-top: 5%;
    padding-top: 5px;

    &:hover {
        

        .img-link {img {
            transform: scale(1.05);
            transform: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }}
    }    

    .img-link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        img{
        max-width: 70%;
        max-height: 100%;
        background-size: cover;
    }}

    .galleryItem-group-name-information{
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: center;
        font-size: 120%;
        margin-top: 10px;

        .link{
            text-decoration: none;
            color:black;
            cursor: pointer;
            font-size: 120%;
            text-align: center;
        }

        
    }
        
}