@media(min-width: 1200px) {
    .SubscribeSection{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50vh;


        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .subscribe-space-title {
            font-family: "Lato";
            font-size: 160%;
            margin-right: 70px;
        }

        .subscribe-space-input{
            display: flex;
            flex-direction: column;
            input{
                font-size: 150%;
            }

            button{
                color: white;
                background-color: black;
                border: none;
                cursor: pointer;
                margin-top: 30px;
                padding: 10px 15px;
                font-size: 140%;
            }
        }
    }
}


@media(max-width: 1200px) {
    .SubscribeSection{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 70%;
        margin: 20% 0%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .subscribe-space-title {
            font-family: "Lato";
            font-size: 90%;
            // margin-right: 70px;
            text-align: center;
        }

        .subscribe-space-input{
            display: flex;
            flex-direction: column;
            input{
                font-size: 120%;
            }

            button{
                color: white;
                background-color: black;
                border: none;
                cursor: pointer;
                margin-top: 30px;
                padding: 10px 15px;
                font-size: 90%;
            }
        }
    }
}
